/* src/style.css */
/* Punto de entrada de estilos globales */

@import url("./styles/variables.css");
@import url("./styles/reset.css");
@import url("./styles/global.css");

/* Layout */
@import "./components/layout/Layout.css";

/* Componentes */
@import "./components/cards/FlipCard.css";
@import "./components/carousels/Carousel.css";
@import "./components/modal/Modal.css";
@import "./components/gallery/Gallery.css";
